<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" fixedInViewport="true">
    <span (click)="onHeaderSectionClick('.album-descr-container', 'bio')" [ngClass]="{'selected': selectedSection === 'bio'}">BIO</span>
    <span (click)="onHeaderSectionClick('.music-title', 'music')" [ngClass]="{'selected': selectedSection === 'music'}">MUSIC</span>
    <span (click)="onHeaderSectionClick('.photos-title', 'photos')" [ngClass]="{'selected': selectedSection === 'photos'}">PHOTOS</span>
    <span (click)="onHeaderSectionClick('.partners-title', 'partners')" [ngClass]="{'selected': selectedSection === 'partners'}">PARTNERS</span>
    <span (click)="onHeaderSectionClick('.contact-title', 'contact')" [ngClass]="{'selected': selectedSection === 'contact'}">CONTACT</span>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="site-wrapper" (scroll)="onScroll($event)">
      <mat-icon *ngIf="isMobile" (click)="sidenav.toggle()">menu</mat-icon>
      <div class="header-container" *ngIf="showHeader">
        <span *ngIf="!isMobile" (click)="onHeaderSectionClick('.album-descr-container', 'bio')" [ngClass]="{'selected': selectedSection === 'bio'}">BIO</span>
        <span *ngIf="!isMobile" (click)="onHeaderSectionClick('.music-title', 'music')" [ngClass]="{'selected': selectedSection === 'music'}">MUSIC</span>
        <span *ngIf="!isMobile" (click)="onHeaderSectionClick('.photos-title', 'photos')" [ngClass]="{'selected': selectedSection === 'photos'}">PHOTOS</span>
        <span *ngIf="!isMobile" (click)="onHeaderSectionClick('.partners-title', 'partners')" [ngClass]="{'selected': selectedSection === 'partners'}">PARTNERS</span>
        <span *ngIf="!isMobile" (click)="onHeaderSectionClick('.contact-title', 'contact')" [ngClass]="{'selected': selectedSection === 'contact'}">CONTACT</span>
      </div>
      <div class="hero">
        <div class="social-logos-container">
          <img src="assets/insta-svg.svg" onclick="window.open('https://www.instagram.com/wearedvrk/')">
          <img src="assets/spotify-svg.svg" onclick="window.open('https://open.spotify.com/artist/2veLy5cp8tE2IUS47EwzlB?si=_f-FExFCRW-EpTm01d4F1A')">
          <img src="assets/youtube-svg.svg" onclick="window.open('https://www.youtube.com/c/SleeplessCollective')">
        </div>
        <div class="logo-container">
          <img src="../../assets/logo-white.png" class="logo-img">
        </div>
        <div class="menu-content-container">
          <div *ngIf="!isMobile" (click)="onHeaderSectionClick('.album-descr-container', 'bio')" [ngClass]="{'selected': selectedSection === 'bio'}">
            BIO
          </div>
          <div *ngIf="!isMobile" (click)="onHeaderSectionClick('.music-title', 'music')" [ngClass]="{'selected': selectedSection === 'music'}">
            MUSIC
          </div>
          <div *ngIf="!isMobile" (click)="onHeaderSectionClick('.photos-title', 'photos')" [ngClass]="{'selected': selectedSection === 'photos'}">
            PHOTOS
          </div>
          <div *ngIf="!isMobile" (click)="onHeaderSectionClick('.partners-title', 'partners')" [ngClass]="{'selected': selectedSection === 'partners'}">
            PARTNERS
          </div>
          <div *ngIf="!isMobile" (click)="onHeaderSectionClick('.contact-title', 'contact')" [ngClass]="{'selected': selectedSection === 'contact'}">
            CONTACT
          </div>
        </div>
        <video loop [muted]="'muted'" playsinline autoplay preload="auto" poster="assets/Promo1.jpeg">
          <source src="assets/hero-bg3.mp4" type="video/mp4">
        </video>
      </div>
      <div class="music-container">
        <div class="album-detials-container">
          <div class="album-descr-container">
            <p>
              Founder of the french metal band NightShade, hailing originally from Brest (FR), but currently residing Tokyo (JP).
            </p>
            <p>
              After achieving notoriety in the the heavy music scene by touring across the globe (Europe, USA, China, Japan…), with records charting in the top 10, and having been featured in several video games, a fresh journey is unfolding...
            </p>
            <p>
              With this new project, he’s mixing his metal roots with EDM and hiphop influences, combining both melodic and brutal ambience to deliver a uniquely raw sound to the unsuspecting masses.
            </p>
            <p>
              DVRK is quickly gaining momentum in the EDM industry after having the honor to play at Japans biggest club (Ageha), and accumulating more than 30k monthly listeners on Spotify. He has garnered  attention in media such as Wide Future, signed a track on Proximity (Martin Garrix, DJ Snake...) and is endorsed by Rockstar Energy Drink, Creve Clothing, Killstar Clothing...
            </p>
            <p>
              Making waves by collaborating with amazing artists such as Chunk! No, Captain Chunk! (FR), Conquer Divide (USA), Sho Sensei (JP) and many more, DVRK is showing the world that a bright future awaits. You’ve been warned!
            </p>
          </div>
          <div class="album-cover-container">
            <img src="../assets/album-cover.jpg" (click)="onPhotoClick('../assets/album-cover.jpg', 'albumArt')">
            <span *ngIf="!isMobile">(click to enlarge)</span>
          </div>
        </div>
        <div class="title-container music-title">
          <span class="title">MUSIC</span>
        </div>
        <div class="player-container">
<!--          <iframe [width]="musicPlayerWidth" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1353380575%3Fsecret_token%3Ds-1P6agSemEws&color=%23eb2c2c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/shredhead-1" title="SHREDHEAD" target="_blank" style="color: #cccccc; text-decoration: none;"></a><a href="https://soundcloud.com/shredhead-1/sets/i-saw-you-burn-2022/s-1P6agSemEws" title="SHREDHEAED - I Saw You Burn (2022)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>-->
          <iframe src="https://open.spotify.com/embed/artist/2veLy5cp8tE2IUS47EwzlB?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
      </div>
      <div class="title-container photos-title">
        <span class="title">PROMO SHOOTS</span>
      </div>
      <div class="photos-container">
        <carousel
          *ngIf="isMobile"
          [images]="promoPhotosArray"
          [objectFit]="'cover'"
          [cellWidth]="'100%'"
          cellsToShow="1"
          borderRadius="5"
          height="300"
          [arrowsOutside]="false"
          [autoplay]="false"
          [dots]="true"
          [loop]="true">
        </carousel>
        <div class="main-img-container" *ngIf="!isMobile">
          <img src="../assets/PromoMain.jpg" (click)="onPhotoClick('../assets/PromoMain.jpg', 'promo')">
        </div>
        <div class="more-imgs-container" *ngIf="!isMobile">
          <div class="row">
            <img src="assets/Promo1.jpeg" (click)="onPhotoClick('assets/Promo1.jpeg', 'promo')">
            <img src="../assets/Promo3.jpg" (click)="onPhotoClick('../assets/Promo3.jpg', 'promo')">
          </div>
          <div class="row">
            <img src="../assets/Promo2.jpeg" (click)="onPhotoClick('assets/Promo2.jpeg', 'promo')">
            <img src="../assets/Promo4.jpg" (click)="onPhotoClick('../assets/Promo4.jpg', 'promo')">
          </div>
        </div>
      </div>
      <span *ngIf="!isMobile" class="photos-text">(click to enlarge)</span>
      <span *ngIf="isMobile" class="photos-text-mobile">(swipe to view more photos)</span>
      <div class="title-container partners-title">
        <span class="title">PARTNERS</span>
      </div>
      <div class="partners-container">
        <img class="partner-img" src="assets/creve.png">
        <img class="partner-img" src="assets/rockstar-logo-white.png">
        <img class="partner-img" src="assets/skb-logo.png">
      </div>
      <div class="title-container contact-title">
        <span class="title">CONTACT</span>
      </div>
      <div class="contact-container">
        <div class="contact-details-container">
          <div class="contact-details">
            <span class="text">Bastien Deleule / Sleepless Collective</span>
            <span class="text thin-text">bastien@sleeplesscollective.com</span>
            <img class="partner-img" src="assets/sc-logo-white.png">
          </div>
        </div>
      </div>
    </div>
    <footer>COPYRIGHT © 2022 DVRK. ALL RIGHTS RESERVED.</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
